#choice {
    padding: 100px 0;
    .choice {
        h1 {
            font-weight: 600;
            font-size: 50px;
            color: #000000;
            padding-bottom: 40px;
            text-align: center;
        }
        &--general {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            &__blockOne {
                width: 343px;
                height: 370px;
                border-radius: 20px;
                background: #F5F7FA;
                padding: 30px 0 0 30px;
                p {
                   font-weight: 400;
                   font-size: 16px;
                   color: #6F6F6F;
                   width: 313px;
                   line-height: 20px;
                }
                h2 {
                  font-weight: 500;
                  font-size: 24px;
                  color: #000000;
                  line-height: 30px;
                  width: 255px;
                  padding: 58px 0;
                }
            }
             &__blockTwo {
                width: 343px;
                height: 370px;
                border-radius: 20px;
                background: #F5F7FA;
                padding: 30px 0 0 30px;
                p {
                   font-weight: 400;
                   font-size: 16px;
                   color: #6F6F6F;
                   width: 313px;
                   line-height: 20px;
                }
                h2 {
                  font-weight: 500;
                  font-size: 24px;
                  color: #000000;
                  line-height: 30px;
                  width: 255px;
                  padding: 38px 0 58px 0;
                }
            }
              &__blockThree {
                width: 343px;
                height: 370px;
                border-radius: 20px;
                background: #F5F7FA;
                padding: 30px 0 0 30px;
                p {
                   font-weight: 400;
                   font-size: 16px;
                   color: #6F6F6F;
                   width: 313px;
                   line-height: 20px;
                }
                h2 {
                  font-weight: 500;
                  font-size: 24px;
                  color: #000000;
                  line-height: 30px;
                  width: 255px;
                  padding: 57px 0 87px 0;
                }
            }
        }
    }
}

@media (max-width: 1440px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 1200px) {
  #choice {
    .choice {
      h1 {
        font-size: 47px;
      }
      &--general {
        flex-wrap: wrap;
        &__blockOne {
            width: 343px;
            height: 370px;
        }
        &__blockTwo {
          width: 343px;
          height: 370px;
        }
        &__blockThree {
          width: 343px;
          height: 370px;
          margin: 35px 0 0 0;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  #choice {
    .choice {
      h1 {
        font-size: 44px;
      }
      &--general {
        flex-wrap: wrap;
        &__blockOne {
            width: 343px;
            height: 370px;
        }
        &__blockTwo {
          width: 343px;
          height: 370px;
        }
        &__blockThree {
          width: 343px;
          height: 370px;
          margin: 35px 0 0 0;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  #choice {
    .choice {
      h1 {
        font-size: 42px;
      }
      &--general {
        flex-wrap: wrap;
        &__blockOne {
            width: 343px;
            height: 370px;
        }
        &__blockTwo {
          width: 343px;
          height: 370px;
        }
        &__blockThree {
          width: 343px;
          height: 370px;
          margin: 35px 0 0 0;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #choice {
    .choice {
      h1 {
        font-size: 40px;
        width: 90%;
        margin: 0 auto;
        line-height: 51px;
      }
      &--general {
        flex-direction: column;
        &__blockOne {
            width: 443px;
            height: 370px;
            margin: 0 0 30px 0;
        }
        &__blockTwo {
          width: 443px;
          height: 370px;
        }
        &__blockThree {
          width: 443px;
          height: 370px;
          margin: 30px 0 0 0;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  #choice {
    .choice {
      h1 {
        font-size: 39px;
        width: 90%;
        margin: 0 auto;
        line-height: 50px;
      }
      &--general {
        flex-direction: column;
        &__blockOne {
            width: 343px;
            height: 370px;
            margin: 0 0 30px 0;
        }
        &__blockTwo {
          width: 343px;
          height: 370px;
        }
        &__blockThree {
          width: 343px;
          height: 370px;
          margin: 30px 0 0 0;
        }
      }
    }
  }
}

@media (max-width: 450px) {
  #choice {
    .choice {
      h1 {
        font-size: 34px;
        width: 90%;
        margin: 0 auto;
        line-height: 44px;
      }
      &--general {
        flex-direction: column;
        &__blockOne {
            width: 343px;
            height: 370px;
            margin: 0 0 30px 0;
        }
        &__blockTwo {
          width: 343px;
          height: 370px;
        }
        &__blockThree {
          width: 343px;
          height: 370px;
          margin: 30px 0 0 0;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  #choice {
    .choice {
      h1 {
        font-size: 30px;
        width: 90%;
        margin: 0 auto;
        line-height: 41px;
      }
      &--general {
        flex-direction: column;
        &__blockOne {
            width: 90%;
            height: 370px;
            margin: 0 0 30px 0;
            padding: 30px 0 0 20px;
             p {
              width: 90%;
           }
        }
        &__blockTwo {
          width: 90%;
          height: 370px;
          padding: 30px 0 0 20px;
           p {
              width: 90%;
           }
        }
        &__blockThree {
          width: 90%;
          height: 370px;
          margin: 30px 0 0 0;
          padding: 30px 0 0 20px;
           p {
              width: 90%;
           }
        }
      }
    }
  }
}

@media (max-width: 375px) {
  #choice {
    .choice {
      h1 {
        font-size: 31px;
        width: 90%;
        margin: 0 auto;
        line-height: 41px;
      }
      &--general {
        flex-direction: column;
        &__blockOne {
            width: 90%;
            height: 370px;
            margin: 0 0 30px 0;
            padding: 30px 0 0 20px;
            p {
              width: 90%;
           }
        }
        &__blockTwo {
          width: 90%;
          height: 370px;
          padding: 30px 0 0 20px;
           p {
              width: 90%;
          }
        }
        &__blockThree {
          width: 90%;
          height: 370px;
          margin: 30px 0 0 0;
          padding: 30px 0 0 20px;
           p {
              width: 90%;
          }
        }
      }
    }
  }
}

@media (max-width: 320px) {
  #choice {
    .choice {
      h1 {
        font-size: 27px;
        width: 90%;
        margin: 0 auto;
        line-height: 39px;
      }
      &--general {
        flex-direction: column;
        &__blockOne {
            width: 90%;
            height: 370px;
            margin: 0 0 30px 0;
            padding: 30px 0 0 20px;
            p {
              width: 90%;
           }
        }
        &__blockTwo {
          width: 90%;
          height: 370px;
          padding: 30px 0 0 20px;
           p {
              width: 90%;
          }
          h2 {
            font-size: 23px;
            width: 235px;
          }
        }
        &__blockThree {
          width: 90%;
          height: 370px;
          margin: 30px 0 0 0;
          padding: 30px 0 0 20px;
           p {
              width: 90%;
          }
          h2 {
            font-size: 23px;
            width: 235px;
          }
        }
      }
    }
  }
}