#news {
    padding: 50px 0;
    .news {
        h1 {
            font-weight: 600;
            font-size: 50px;
            text-align: center;
            color: #000000;
        }
        &--general {
            padding: 60px 0;
            display: flex;
            justify-content: center;
            align-items: start;
            &__groupOne {
                padding: 0 40px 0 0;
                &--cardLeft {
                    &__cardLeftTextGroup {
                        display: flex;
                        justify-content: space-between;
                        align-items: end;
                        &--cardLeftText {
                            h2 {
                              font-weight: 500;
                              font-size: 18px;
                              line-height: 25px;
                              color: #000000;
                              width: 460px;
                              padding: 10px 0 20px 0;
                            }
                            P {
                             font-weight: 400;
                             font-size: 16px;
                             color: #6F6F6F;
                            }
                        }
                        &--cardLeftIcon {
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            background: linear-gradient(59.33deg, rgba(212, 21, 28, 0.15) 22.38%, rgba(211, 84, 0, 0.15) 87.43%);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 20px;
                            color: #D4151C;
                            transition: .4s;
                            cursor: pointer;
                            &:hover {
                                background: black;
                                color: white;
                            }
                        }
                    }
                }
            }
            &__groupTwo {
                &--cardRight {
                    display: flex;
                    align-items: center;
                    padding: 0 0 30px 0;
                    &__cardRightTextGroup {
                        padding: 0 0 0 20px;
                        display: flex;
                        align-items: end;
                        justify-content: space-between;
                        &--cardRightText {
                        h3 {
                          font-weight: 500;
                          font-size: 18px;
                          color: #000000;
                          width: 335px;
                          padding: 0 0 20px 0;
                          line-height: 23px;
                         }
                         h6 {
                           font-weight: 400;
                           font-size: 16px;
                           color: #6F6F6F;
                         }
                        }
                        &--cardRightIcon {
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            background: linear-gradient(59.33deg, rgba(212, 21, 28, 0.15) 22.38%, rgba(211, 84, 0, 0.15) 87.43%);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 20px;
                            color: #D4151C;
                            transition: .4s;
                            cursor: pointer;
                            &:hover {
                                background: black;
                                color: white;
                            }
                        }
                    }
                }
            }
        }
        &--newsBtn {
            display: flex;
            align-items: center;
            margin: 0 auto;
            font-weight: 600;
            font-size: 16px;
            color: #000000;
            padding: 13px 20px;
            border: 1px solid #000000;
            background: transparent;
            border-radius: 8px;
            &:hover {
                color: white;
                background: #000000;
                .news--newsBtn__newsBtnIcon {
                    color: white;
                }
            }
            &__newsBtnIcon {
                color: #000000;
                font-size: 22px;
                padding: 0 0 0 10px;
            }
        }
    }
}

@media (max-width: 1440px) {
    .container {
        width: 90%;
    }
}

@media (max-width: 1200px) {
    #news {
        .news {
            h1 {
                font-size: 48px;
            }
            &--general {
                padding: 40px 0;
                flex-direction: column;
                align-items: center;
                &__groupOne {
                    padding: 0 0 30px 0;
                    &--cardLeft {
                        img {
                            width: 750px;
                        }
                        
                    }
                }
                &__groupTwo {
                  &--cardRight {
                    &__cardRightTextGroup {
                        &--cardRightText {
                            h3 {
                                width: 580px;
                            }
                        }
                    }
                  }
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    #news {
        .news {
            h1 {
                font-size: 46px;
            }
            &--general {
                padding: 40px 0;
                flex-direction: column;
                align-items: center;
                &__groupOne {
                    padding: 0 0 30px 0;
                    &--cardLeft {
                        img {
                            width: 700px;
                        }
                        
                    }
                }
                &__groupTwo {
                  &--cardRight {
                    &__cardRightTextGroup {
                        &--cardRightText {
                            h3 {
                                width: 530px;
                            }
                        }
                    }
                  }
                }
            }
        }
    }
}

@media (max-width: 992px) {
    #news {
        .news {
            h1 {
                font-size: 45px;
            }
            &--general {
                padding: 40px 0;
                flex-direction: column;
                align-items: center;
                &__groupOne {
                    padding: 0 0 30px 0;
                    &--cardLeft {
                        img {
                            width: 650px;
                        }
                        
                    }
                }
                &__groupTwo {
                  &--cardRight {
                    &__cardRightTextGroup {
                        &--cardRightText {
                            h3 {
                                width: 480px;
                            }
                        }
                    }
                  }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    #news {
        .news {
            h1 {
                font-size: 43px;
            }
            &--general {
                padding: 40px 0;
                flex-direction: column;
                align-items: center;
                &__groupOne {
                    padding: 0 0 30px 0;
                    &--cardLeft {
                        img {
                            width: 550px;
                        }
                        
                    }
                }
                &__groupTwo {
                  &--cardRight {
                    &__cardRightTextGroup {
                        &--cardRightText {
                            h3 {
                                width: 380px;
                            }
                        }
                    }
                  }
                }
            }
        }
    }
}

@media (max-width: 576px) {
    #news {
        .news {
            h1 {
                font-size: 40px;
            }
            &--general {
                padding: 40px 0;
                flex-direction: column;
                align-items: center;
                &__groupOne {
                    padding: 0 0 30px 0;
                    &--cardLeft {
                        img {
                            width: 100%;
                        }
                        &__cardLeftTextGroup {
                            &--cardLeft {
                                h2 {
                                    width: 420px;
                                }
                            }
                        }
                    }
                }
                &__groupTwo {
                  &--cardRight {
                    &__cardRightTextGroup {
                        &--cardRightText {
                            h3 {
                                width: 345px;
                            }
                        }
                    }
                  }
                }
            }
        }
    }
}

@media (max-width: 450px) {
    #news {
        .news {
            h1 {
                font-size: 39px;
            }
            &--general {
                padding: 40px 0;
                flex-direction: column;
                align-items: center;
                &__groupOne {
                    padding: 0 0 30px 0;
                    &--cardLeft {
                        img {
                            width: 100%;
                        }
                        &__cardLeftTextGroup {
                            &--cardLeftText {
                                h2 {
                                    width: 350px;
                                    font-size: 17px;
                                    line-height: 24px;
                                }
                            }
                            &--cardLeftIcon {
                                width: 45px;
                                height: 45px;
                                font-size: 19px;
                            }
                        }
                    }
                }
                &__groupTwo {
                  &--cardRight {
                    align-items: start;
                    &__cardRightTextGroup {
                        &--cardRightText {
                            h3 {
                                width: 235px;
                                font-size: 17px;
                                line-height: 24px;
                            }
                        }
                        &--cardRightIcon {
                            width: 45px;
                            height: 45px;
                            font-size: 19px;
                        }
                    }
                  }
                }
            }
        }
    }
}

@media (max-width: 400px) {
    #news {
        .news {
            h1 {
                font-size: 37px;
            }
            &--general {
                padding: 30px 0;
                flex-direction: column;
                align-items: center;
                &__groupOne {
                    padding: 0 0 30px 0;
                    &--cardLeft {
                        img {
                            width: 99%;
                        }
                        &__cardLeftTextGroup {
                            &--cardLeftText {
                                h2 {
                                    width: 270px;
                                    font-size: 17px;
                                    line-height: 24px;
                                }
                            }
                            &--cardLeftIcon {
                                width: 40px;
                                height: 40px;
                                font-size: 19px;
                            }
                        }
                    }
                }
                &__groupTwo {
                  &--cardRight {
                    width: 100%;
                    align-items: start;
                    &__cardRightTextGroup {
                        &--cardRightText {
                            h3 {
                                width: 180px;
                                font-size: 16px;
                                line-height: 23px;
                            }
                        }
                        &--cardRightIcon {
                            width: 40px;
                            height: 40px;
                            font-size: 19px;
                        }
                    }
                  }
                }
            }
            button {
                padding: 12px 18px;
                font-size: 15px;
            }
        }
    }
}

@media (max-width: 375px) {
    #news {
        .news {
            h1 {
                font-size: 37px;
            }
            &--general {
                padding: 30px 0;
                flex-direction: column;
                align-items: center;
                &__groupOne {
                    padding: 0 0 30px 0;
                    &--cardLeft {
                        img {
                            width: 99%;
                        }
                        &__cardLeftTextGroup {
                            &--cardLeftText {
                                h2 {
                                    width: 270px;
                                    font-size: 17px;
                                    line-height: 24px;
                                }
                            }
                            &--cardLeftIcon {
                                width: 40px;
                                height: 40px;
                                font-size: 19px;
                            }
                        }
                    }
                }
                &__groupTwo {
                  &--cardRight {
                    width: 100%;
                    align-items: start;
                    &__cardRightTextGroup {
                        &--cardRightText {
                            h3 {
                                width: 180px;
                                font-size: 16px;
                                line-height: 23px;
                            }
                        }
                        &--cardRightIcon {
                            width: 40px;
                            height: 40px;
                            font-size: 19px;
                        }
                    }
                  }
                }
            }
            button {
                padding: 12px 18px;
                font-size: 15px;
            }
        }
    }
}

@media (max-width: 320px) {
    #news {
        .news {
            h1 {
                font-size: 35px;
            }
            &--general {
                padding: 30px 0;
                flex-direction: column;
                align-items: center;
                &__groupOne {
                    padding: 0 0 30px 0;
                    &--cardLeft {
                        img {
                            width: 100%;
                        }
                        &__cardLeftTextGroup {
                            &--cardLeftText {
                                h2 {
                                    width: 220px;
                                    font-size: 16px;
                                    line-height: 24px;
                                }
                            }
                            &--cardLeftIcon {
                                width: 35px;
                                height: 35px;
                                font-size: 18px;
                            }
                        }
                    }
                }
                &__groupTwo {
                  &--cardRight {
                    width: 100%;
                    align-items: start;
                    &__cardRightTextGroup {
                        &--cardRightText {
                            h3 {
                                width: 130px;
                                font-size: 15px;
                                line-height: 23px;
                            }
                            h6 {
                                font-size: 14px;
                            }
                        }
                        &--cardRightIcon {
                            width: 35px;
                            height: 35px;
                            font-size: 18px;
                        }
                    }
                  }
                }
            }
            button {
                padding: 12px 17px;
                font-size: 14px;
            }
        }
    }
}



