#guarantee {
    padding: 100px 0 30px 0;
    .guarantee {
        &--general {
            &__textOne {
                display: flex;
                align-items: start;
                justify-content: space-evenly;
                padding: 0 0 60px 0;
                h2 {
                 font-weight: 600;
                 font-size: 30px;
                 line-height: 36px;
                 color: #000000;
                 width: 457px;
                }
                p {
                  font-weight: 400;
                  font-size: 20px;
                  line-height: 27px;
                  color: #6F6F6F;
                  width: 630px;
                }
            }
        }
    }
}

@media (max-width: 1440px) {
    .container {
        width: 90%;
    }
}

@media (max-width: 1200px) {
    #guarantee {
        .guarantee {
            &--general {
                &__textOne {
                    p {
                        width: 540px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    #guarantee {
        .guarantee {
            &--general {
                &__textOne {
                    flex-direction: column;
                    p {
                        width: 90%;
                        padding: 20px 0 0 0;
                    }
                }
            }
        }
    }
}

@media (max-width: 992px) {
    #guarantee {
        .guarantee {
            &--general {
                &__textOne {
                    flex-direction: column;
                    p {
                        width: 90%;
                        padding: 20px 0 0 0;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    #guarantee {
        .guarantee {
            &--general {
                &__textOne {
                    flex-direction: column;
                    p {
                        width: 90%;
                        padding: 20px 0 0 0;
                    }
                }
            }
        }
    }
}

@media (max-width: 576px) {
    #guarantee {
        .guarantee {
            &--general {
                &__textOne {
                    flex-direction: column;
                    h2 {
                        width: 400px;
                    }
                    p {
                        width: 90%;
                        padding: 20px 0 0 0;
                    }
                }
            }
        }
    }
}

@media (max-width: 450px) {
    #guarantee {
        .guarantee {
            &--general {
                &__textOne {
                    flex-direction: column;
                    h2 {
                        width: 90%;
                        font-size: 29px;
                        line-height: 36px;
                    }
                    p {
                        width: 100%;
                        padding: 20px 0 0 0;
                    }
                }
            }
        }
    }
}

@media (max-width: 400px) {
    #guarantee {
        .guarantee {
            &--general {
                &__textOne {
                    flex-direction: column;
                    h2 {
                        width: 90%;
                        font-size: 27px;
                        line-height: 34px;
                    }
                    p {
                        width: 100%;
                        padding: 20px 0 0 0;
                        font-size: 19px;
                    }
                }
            }
        }
    }
}

@media (max-width: 375px) {
    #guarantee {
        .guarantee {
            &--general {
                &__textOne {
                    flex-direction: column;
                    h2 {
                        width: 90%;
                        font-size: 27px;
                        line-height: 34px;
                    }
                    p {
                        width: 100%;
                        padding: 20px 0 0 0;
                        font-size: 19px;
                    }
                }
            }
        }
    }
}

@media (max-width: 320px) {
    #guarantee {
        .guarantee {
            &--general {
                &__textOne {
                    flex-direction: column;
                    h2 {
                        width: 90%;
                        font-size: 25px;
                        line-height: 32px;
                    }
                    p {
                        width: 100%;
                        padding: 20px 0 0 0;
                        font-size: 18px;
                    }
                }
            }
        }
    }
}