#contact {
    padding: 40px 0 100px 0;
    .contact {
        display: flex;
        justify-content: space-evenly;
        align-items: start;
        &--blockOne {
            width: 534px;
            height: 100%;
            border-radius: 30px;
            padding: 30px 0 30px 30px;
            background: linear-gradient(59.33deg, #D4151C 22.38%, #D35400 87.43%);
            h2 {
              font-weight: 600;
              font-size: 30px;
              line-height: 38px;
              color: white;
              width: 550px;
              padding: 0 0 60px 0;
            }
            &__contactIconGroup {
                display: flex;
                align-items: start;
                padding: 0 0 30px 0;
                &--contactIcon {
                    color: white;
                    font-size: 21px;
                }
                h3 {
                    color: white;
                    font-weight: 500;
                    font-size: 16px;
                    padding: 0 0 0 14px;
                }
                nav {
                    a {
                     color: white;
                     font-weight: 500;
                     font-size: 16px;
                     padding: 0 0 0 14px;
                    }
                }
            }
            h4 {
               font-weight: 600;
               font-size: 20px;
               color: white;
               padding: 30px 0 20px 0;
            }
            &__contactAppIconsGroup {
                display: flex;
                align-items: center;
                padding: 0 0 92px 0;
                &--contactAppIcon {
                    width: 40px;
                    height: 40px;
                    background: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 10px;
                    color: #D4151C;
                    font-size: 21px;
                    margin: 0 14px 0 0;
                    &:hover {
                        color: white;
                        background: black;
                    }
                }
            }
            h6 {
             font-weight: 400;
             font-size: 14px;
             line-height: 22px;
             color: white;
             width: 484px;
            }
        }
        &--blockTwo {
            width: 534px;
            height: 100%;
            border-radius: 30px;
            padding: 30px 0 30px 30px;
            background: #F5F7FA;
              input.error,
              select.error {
              border: 1px solid #D4151C !important;
              background: #fff;
              box-shadow: 0 0 0 1px rgba(212, 21, 28, 0.4);
            }
            span {
            font-size: 12px;
            color: #d4151c;
            padding: 4px 0 0 0;
            display: block;
          }
            &__group {
                display: flex;
                align-items: start;
                padding: 0 0 24px 0;
                &--groupInput {
                    padding: 0 10px 0 0;
                    h2 {
                      font-weight: 500;
                      font-size: 14px;
                      color: #000000;
                      padding: 0 0 10px 0;
                    }
                    input {
                        width: 232px;
                        height: 50px;
                        background: white;
                        padding: 0 0 0 16px;
                        border: none;
                        outline: none;
                        font-family: Inter;
                        font-weight: 400;
                        font-size: 16px;
                        color: #6F6F6F;
                        border-radius: 10px;
                    }
                }
            }
            &__selectGroup {
                padding: 0 0 24px 0;
                h3 {
                font-weight: 500;
                font-size: 14px;
                color: #000000;
                padding: 0 0 10px 0;
             }
             &--selectBlock {
                font-weight: 400;
                font-size: 16px;
                color: #6F6F6F;
                padding: 0 10px 0 16px;
                width: 506px;
                height: 50px;
                border-radius: 10px;
                background: white;
                border: none;
                outline: none;
             }
            }
            &__group {
                &--groupSelectInput {
                    padding: 0 10px 0 0;
                    h2 {
                     font-weight: 500;
                     font-size: 14px;
                     color: #000000;
                     padding: 0 0 10px 0;
                    }
                    &__selectType {
                    font-weight: 400;
                    font-size: 16px;
                    color: #6F6F6F;
                    padding: 0 0 0 16px;
                    width: 248px;
                    height: 50px;
                    background: white;
                    border: none;
                    outline: none;
                    border-radius: 10px;
                    }
                }
            }
            &__groupTwo {
                display: flex;
                align-items: start;
                padding: 0 0 24px 0;
                &--groupSelectInput {
                    padding: 0 10px 0 0;
                    h2 {
                     font-weight: 500;
                     font-size: 14px;
                     color: #000000;
                     padding: 0 0 10px 0;
                    }
                    &__selectType {
                    font-weight: 400;
                    font-size: 16px;
                    color: #6F6F6F;
                    padding: 0 0 0 16px;
                    width: 248px;
                    height: 50px;
                    background: white;
                    border: none;
                    outline: none;
                    border-radius: 10px;
                    }
                }
                &--groupTwoInput {
                    h2 {
                        color: black;
                        font-weight: 500;
                        font-size: 14px;
                        padding: 0 0 10px 0;
                    }
                    input {
                        width: 232px;
                        height: 50px;
                        background: white;
                        padding: 0 0 0 16px;
                        border: none;
                        outline: none;
                        font-family: Inter;
                        font-weight: 400;
                        font-size: 16px;
                        color: #6F6F6F;
                        border-radius: 10px;
                    }
                }
            }
            &__checkGroup {
                display: flex;
                align-items: center;
                padding: 0 0 24px 0;
                input {
                    width: 25px;
                    height: 25px;
                    border: 1px solid #6F6F6F;
                    border-radius: 5px;
                }
                p {
                 font-weight: 400;
                 font-size: 12px;
                 line-height: 14px;
                 color: #6F6F6F;
                 width: 450px;
                 padding: 0 0 0 8px;
                 span {
                    color: #D4151C;
                 }
                }
            }
            button {
                font-weight: 600;
                font-size: 16px;
                color: white;
                background: linear-gradient(59.33deg, #D4151C 22.38%, #D35400 87.43%);
                padding: 15px 180px;
                border-radius: 8px;
                &:hover {
                    background: black;
                }
            }
        }
    }
}

@media (max-width: 1440px) {
    .container {
        width: 90%;
    }
}

@media (max-width: 1200px) {
    #contact {
        .contact {
            &--blockOne {
                width: 45%;
                h2 {
                    width: 90%;
                }
                &__contactIconGroup {
                    h3 {
                        width: 80%;
                    }
                }
                h6 {
                    width: 90%;
                }
            }
            &--blockTwo {
                width: 45%;
                &__group {
                    &--groupInput {
                        input {
                            width: 208px;
                        }
                    }
                }
                &__selectGroup {
                    &--selectBlock {
                       width: 457px;
                    }
                }
                &__groupTwo {
                    padding: 0 0 24px 0;
                    &--groupSelectInput {
                        &__selectType {
                            width: 218px;
                        }
                    }
                    &--groupTwoInput {
                        input {
                            width: 212px;
                        }
                    }
                }
                button {
                    padding: 15px 158px;
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    #contact {
        .contact {
            &--blockOne {
                width: 45%;
                h2 {
                    width: 90%;
                    font-size: 28px;
                    line-height: 36px;
                    padding: 0 0 55px 0;
                }
                &__contactIconGroup {
                    h3 {
                        width: 80%;
                    }
                }
                h6 {
                    width: 90%;
                }
            }
            &--blockTwo {
                width: 45%;
                &__group {
                    &--groupInput {
                        input {
                            width: 172px;
                        }
                    }
                }
                &__selectGroup {
                    &--selectBlock {
                       width: 387px;
                    }
                }
                &__groupTwo {
                    padding: 0 0 24px 0;
                    &--groupSelectInput {
                        &__selectType {
                            width: 188px;
                        }
                    }
                    &--groupTwoInput {
                        input {
                            width: 172px;
                        }
                    }
                }
                button {
                    padding: 15px 123px;
                }
            }
        }
    }
}

@media (max-width: 992px) {
    #contact {
        .contact {
            &--blockOne {
                width: 45%;
                h2 {
                    width: 90%;
                    font-size: 27px;
                    line-height: 36px;
                    padding: 0 0 50px 0;
                }
                &__contactIconGroup {
                    h3 {
                        width: 80%;
                    }
                }
                h6 {
                    width: 90%;
                }
            }
            &--blockTwo {
                width: 45%;
                &__group {
                    &--groupInput {
                        input {
                            width: 168px;
                        }
                    }
                }
                &__selectGroup {
                    &--selectBlock {
                       width: 377px;
                    }
                }
                &__groupTwo {
                    padding: 0 0 24px 0;
                    &--groupSelectInput {
                        &__selectType {
                            width: 183px;
                        }
                    }
                    &--groupTwoInput {
                        input {
                            width: 167px;
                        }
                    }
                }
                button {
                    padding: 15px 123px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    #contact {
        .contact {
            flex-direction: column;
            align-items: center;
            &--blockOne {
                width: 85%;
                margin: 0 0 20px 0;
                h2 {
                    width: 90%;
                    font-size: 27px;
                    line-height: 36px;
                    padding: 0 0 50px 0;
                }
                &__contactIconGroup {
                    h3 {
                        width: 80%;
                    }
                }
                h6 {
                    width: 90%;
                }
            }
            &--blockTwo {
                width: 85%;
                &__group {
                    &--groupInput {
                        input {
                            width: 260px;
                        }
                    }
                }
                &__selectGroup {
                    &--selectBlock {
                       width: 560px;
                    }
                }
                &__groupTwo {
                    padding: 0 0 24px 0;
                    &--groupSelectInput {
                        &__selectType {
                            width: 265px;
                        }
                    }
                    &--groupTwoInput {
                        input {
                            width: 265px;
                        }
                    }
                }
                button {
                    padding: 15px 206px;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    #contact {
        .contact {
            flex-direction: column;
            align-items: center;
            &--blockOne {
                width: 90%;
                margin: 0 0 20px 0;
                h2 {
                    width: 90%;
                    font-size: 27px;
                    line-height: 36px;
                    padding: 0 0 50px 0;
                }
                &__contactIconGroup {
                    h3 {
                        width: 80%;
                    }
                }
                h6 {
                    width: 90%;
                }
            }
            &--blockTwo {
                width: 90%;
                &__group {
                    &--groupInput {
                        input {
                            width: 200px;
                        }
                    }
                }
                &__selectGroup {
                    &--selectBlock {
                       width: 440px;
                    }
                }
                &__groupTwo {
                    padding: 0 0 24px 0;
                    &--groupSelectInput {
                        &__selectType {
                            width: 206px;
                        }
                    }
                    &--groupTwoInput {
                        input {
                            width: 206px;
                        }
                    }
                }
                &__checkGroup {
                    p {
                        width: 85%;
                    }
                }
                button {
                    padding: 15px 147px;
                }
            }
        }
    }
}

@media (max-width: 450px) {
    #contact {
        .contact {
            flex-direction: column;
            align-items: center;
            &--blockOne {
                width: 90%;
                margin: 0 0 20px 0;
                h2 {
                    width: 90%;
                    font-size: 25px;
                    line-height: 36px;
                    padding: 0 0 45px 0;
                }
                &__contactIconGroup {
                    h3 {
                        width: 80%;
                    }
                }
                h6 {
                    width: 90%;
                }
            }
            &--blockTwo {
                width: 90%;
                &__group {
                    &--groupInput {
                        input {
                            width: 150px;
                            font-size: 14px;
                            height: 40px;
                        }
                    }
                }
                &__selectGroup {
                    &--selectBlock {
                       width: 340px;
                       font-size: 14px;
                       height: 40px;
                    }
                }
                &__groupTwo {
                    padding: 0 0 24px 0;
                    &--groupSelectInput {
                        &__selectType {
                            width: 156px;
                            font-size: 14px;
                            height: 40px;
                        }
                    }
                    &--groupTwoInput {
                        input {
                            width: 156px;
                            font-size: 14px;
                            height: 40px;
                        }
                    }
                }
                &__checkGroup {
                    align-items: start;
                    input {
                        width: 22px;
                        height: 22px;
                    }
                }
                button {
                    padding: 15px 102px;
                    font-size: 15px;
                }
            }
        }
    }
}

@media (max-width: 400px) {
    #contact {
        .contact {
            flex-direction: column;
            align-items: center;
            &--blockOne {
                width: 90%;
                margin: 0 0 20px 0;
                padding: 20px 0 30px 20px;
                h2 {
                    width: 90%;
                    font-size: 24px;
                    line-height: 33px;
                    padding: 0 0 40px 0;
                }
                &__contactIconGroup {
                    padding: 0 0 25px 0;
                    h3 {
                        width: 80%;
                    }
                 }
                 &__contactAppIconsGroup {
                    padding: 0 0 80px 0;
                 }
                h6 {
                    width: 90%;
                }
            }
            &--blockTwo {
                width: 90%;
                &__group {
                    flex-direction: column;
                    padding: 0;
                    &--groupInput {
                        padding: 0 0 24px 0;
                        input {
                            width: 278px;
                            font-size: 14px;
                            height: 35px;
                        }
                    }
                }
                &__selectGroup {
                    &--selectBlock {
                       width: 294px;
                       font-size: 14px;
                       height: 35px;
                    }
                }
                &__groupTwo {
                    padding: 0 0 24px 0;
                    flex-direction: column;
                    &--groupSelectInput {
                        padding: 0 0 24px 0;
                        &__selectType {
                            width: 294px;
                            font-size: 14px;
                            height: 35px;
                        }
                    }
                    &--groupTwoInput {
                        input {
                            width: 280px;
                            font-size: 14px;
                            height: 35px;
                        }
                    }
                }
                &__checkGroup {
                    align-items: start;
                    input {
                        width: 20px;
                        height: 20px;
                    }
                }
                button {
                    padding: 15px 80px;
                    font-size: 15px;
                }
            }
        }
    }
}

@media (max-width: 375px) {
    #contact {
        .contact {
            flex-direction: column;
            align-items: center;
            &--blockOne {
                width: 90%;
                margin: 0 0 20px 0;
                padding: 20px 0 30px 20px;
                h2 {
                    width: 90%;
                    font-size: 24px;
                    line-height: 33px;
                    padding: 0 0 40px 0;
                }
                &__contactIconGroup {
                    padding: 0 0 25px 0;
                    h3 {
                        width: 80%;
                    }
                 }
                 &__contactAppIconsGroup {
                    padding: 0 0 80px 0;
                 }
                h6 {
                    width: 90%;
                }
            }
            &--blockTwo {
                width: 90%;
                &__group {
                    flex-direction: column;
                    padding: 0;
                    &--groupInput {
                        padding: 0 0 24px 0;
                        input {
                            width: 264px;
                            font-size: 14px;
                            height: 35px;
                        }
                    }
                }
                &__selectGroup {
                    &--selectBlock {
                       width: 278px;
                       font-size: 14px;
                       height: 35px;
                    }
                }
                &__groupTwo {
                    padding: 0 0 24px 0;
                    flex-direction: column;
                    &--groupSelectInput {
                        padding: 0 0 24px 0;
                        &__selectType {
                            width: 278px;
                            font-size: 14px;
                            height: 35px;
                        }
                    }
                    &--groupTwoInput {
                        input {
                            width: 262px;
                            font-size: 14px;
                            height: 35px;
                        }
                    }
                }
                &__checkGroup {
                    align-items: start;
                    input {
                        width: 20px;
                        height: 20px;
                    }
                }
                button {
                    padding: 14px 73px;
                    font-size: 15px;
                }
            }
        }
    }
}

@media (max-width: 320px) {
    #contact {
        .contact {
            flex-direction: column;
            align-items: center;
            &--blockOne {
                width: 90%;
                margin: 0 0 20px 0;
                padding: 20px 0 30px 20px;
                h2 {
                    width: 90%;
                    font-size: 22px;
                    line-height: 29px;
                    padding: 0 0 40px 0;
                }
                &__contactIconGroup {
                    padding: 0 0 25px 0;
                    h3 {
                        width: 80%;
                        font-size: 15px;
                        padding: 0 0 0 14px;
                    }
                 }
                 &__contactAppIconsGroup {
                    padding: 0 0 80px 0;
                 }
                h6 {
                    width: 90%;
                }
            }
            &--blockTwo {
                width: 90%;
                &__group {
                    flex-direction: column;
                    padding: 0;
                    &--groupInput {
                        padding: 0 0 24px 0;
                        input {
                            width: 220px;
                            font-size: 14px;
                            height: 35px;
                        }
                    }
                }
                &__selectGroup {
                    &--selectBlock {
                       width: 235px;
                       font-size: 13px;
                       height: 35px;
                    }
                }
                &__groupTwo {
                    padding: 0 0 24px 0;
                    flex-direction: column;
                    &--groupSelectInput {
                        padding: 0 0 24px 0;
                        &__selectType {
                            width: 235px;
                            font-size: 14px;
                            height: 35px;
                        }
                    }
                    &--groupTwoInput {
                        input {
                            width: 220px;
                            font-size: 14px;
                            height: 35px;
                        }
                    }
                }
                &__checkGroup {
                    align-items: start;
                    input {
                        width: 20px;
                        height: 20px;
                    }
                }
                button {
                    padding: 13px 55px;
                    font-size: 14px;
                }
            }
        }
    }
}

