#footer {
    padding: 58px 0 20px 0;
    background: #F5F7FA;
    .footer {
        &--general {
            display: flex;
            justify-content: space-between;
            align-items: start;
            padding: 0 0 60px 0;
            &__footerLogoGroup {
                p {
                font-weight: 400;
                font-size: 16px;
                line-height: 23px;
                color: #797979;
                width: 324px;
                padding: 21px 0 36px 0;
                }
                h2 {
                    font-weight: 500;
                    font-size: 24px;
                    text-transform: uppercase;
                    color: #D4151C;
                }
            }
            &__footerNavbarGroup {
                h3 {
                  font-weight: 600;
                  font-size: 20px;
                  color: #000000;
                  padding: 0 0 30px 0;
                }
                &--footerNavbar {
                    display: flex;
                    flex-direction: column;
                    &__footerLink {
                     font-weight: 500;
                     font-size: 16px;
                     color: #797979;
                     padding: 0 0 16px 0;
                     &:hover {
                        color: #D4151C;
                        text-decoration: underline;
                     }
                    }
                }
            }
            &__footerIconsGroup {
                h3 {
                    font-weight: 600;
                    font-size: 20px;
                    color: #000000;
                    padding: 0 0 30px 0;
                }
                &--footerIconic {
                    display: flex;
                    align-items: center;
                    &__footerIcon {
                        width: 40px;
                        height: 40px;
                        background: linear-gradient(59.33deg, #D4151C 22.38%, #D35400 87.43%);
                        color: white;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 10px;
                        cursor: pointer;
                        font-size: 21px;
                        margin: 0 14px 0 0;
                        transition: .4s;
                        &:hover {
                            background: black;
                        }
                    }
                }
            }
        }
    }
    .line {
        width: 100%;
        height: 1px;
        background: #D8D8D8;
    }
    .footerNewGroup {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0 0 0;
        p {
          font-weight: 400;
          font-size: 12px;
          color: #9A9A9A;
        }
        h6 {
           font-weight: 600;
           font-size: 14px;
           color: #171616;
           span {
            color: #D35400;
            text-decoration: underline;
           }
        }
    }
}

@media (max-width: 1440px) {
    .container {
        width: 90%;
    }
}

@media (max-width: 768px) {
    #footer {
        .footer {
            &--general {
                flex-wrap: wrap;
                &__footerLogoGroup {
                    padding: 0 0 30px 0;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    #footer {
        .footer {
            &--general {
                flex-wrap: wrap;
                &__footerLogoGroup {
                    padding: 0 0 30px 0;
                }
            }
        }
    }
}

@media (max-width: 450px) {
    #footer {
        .footer {
            &--general {
                flex-wrap: wrap;
                &__footerLogoGroup {
                    padding: 0 0 30px 0;
                    h2 {
                        font-size: 23px;
                    }
                }
                &__footerNavbarGroup {
                    h3 {
                        font-size: 19px;
                    }
                }
                &__footerIconsGroup {
                    padding: 15px 0 0 0;
                }
            }
        }
    }
    .footerNewGroup {
        flex-direction: column;
        align-items: center;
        h6 {
            padding: 10px 0 0 0;
        }
    }
}

@media (max-width: 400px) {
    #footer {
        .footer {
            &--general {
                flex-wrap: wrap;
                &__footerLogoGroup {
                    padding: 0 0 30px 0;
                    h2 {
                        font-size: 22px;
                    }
                }
                &__footerNavbarGroup {
                    h3 {
                        font-size: 18px;
                    }
                    &--footerNavbar {
                        &__footerLink {
                            font-size: 15px;
                        }
                    }
                }
                &__footerIconsGroup {
                    padding: 15px 0 0 0;
                }
            }
        }
    }
    .footerNewGroup {
        flex-direction: column;
        align-items: center;
        h6 {
            padding: 10px 0 0 0;
        }
    }
}

@media (max-width: 375px) {
    #footer {
        .footer {
            &--general {
                flex-wrap: wrap;
                &__footerLogoGroup {
                    padding: 0 0 30px 0;
                    h2 {
                        font-size: 22px;
                    }
                }
                &__footerNavbarGroup {
                    h3 {
                        font-size: 19px;
                    }
                }
                &__footerIconsGroup {
                    padding: 15px 0 0 0;
                }
            }
        }
    }
    .footerNewGroup {
        flex-direction: column;
        align-items: center;
        h6 {
            padding: 10px 0 0 0;
        }
    }
}

@media (max-width: 320px) {
    #footer {
        .footer {
            &--general {
                flex-wrap: wrap;
                &__footerLogoGroup {
                    padding: 0 0 30px 0;
                    p {
                        width: 95%;
                    }
                    h2 {
                        font-size: 22px;
                    }
                }
                &__footerNavbarGroup {
                    h3 {
                        font-size: 19px;
                    }
                }
                &__footerIconsGroup {
                    padding: 15px 0 0 0;
                }
            }
        }
    }
    .footerNewGroup {
        flex-direction: column;
        align-items: center;
        h6 {
            padding: 10px 0 0 0;
        }
    }
}