#pocket {
    padding: 100px 0;
    .pocket {
        background: url('../../assets/img/pocketImageBg.png') no-repeat center/cover;
        height: 205px;
        display: flex;
        align-items: start;
        justify-content: space-between;
        padding: 40px 40px 40px 50px;
        border-radius: 20px;
        h1 {
            font-weight: 600;
            font-size: 50px;
            line-height: 60px;
            color: white;
            width: 435px;
        }
        &--group {
            p {
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            text-align: right;
            width: 226px;
            color: #F5F7FA;
            padding: 0 0 36px 0;
            }
            div {
                display: flex;
                justify-content: flex-end;
               button {
                font-weight: 600;
                font-size: 16px;
                color: #000000;
                padding: 15px 23px;
                background: white;
                border-radius: 8px;
                &:hover {
                    background: black;
                    color: white;
                }
               }
            }
        }
    }
}

@media (max-width: 1440px) {
    .container {
        width: 90%;
    }
}

@media (max-width: 1200px) {
    #pocket {
        .pocket {
            h1 {
                font-size: 46px;
                line-height: 58px;
                width: 385px;
            }
        }
    }
}

@media (max-width: 1024px) {
    #pocket {
        .pocket {
            padding: 40px 0 0 40px;
            h1 {
                font-size: 38px;
                line-height: 49px;
                width: 305px;
                padding: 0 0 40px 0;
            }
            &--group {
                padding: 0 30px 40px 0;
            }
        }
    }
}


@media (max-width: 992px) {
    #pocket {
        .pocket {
            padding: 40px 0 0 40px;
            h1 {
                font-size: 37px;
                line-height: 48px;
                width: 295px;
                padding: 0 0 40px 0;
            }
            &--group {
                padding: 0 30px 40px 0;
                div {
                    button {
                        padding: 14px 22px;
                        font-size: 15px;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    #pocket {
        .pocket {
            flex-direction: column;
            align-items: start;
            padding: 40px 0 0 30px;
            height: 100%;
            h1 {
                font-size: 44px;
                line-height: 55px;
                width: 495px;
                padding: 0 0 40px 0;
            }
            &--group {
                padding: 30px 0 40px 0;
                p {
                    text-align: left;
                    width: 90%;
                }
                div {
                    justify-content: start;
                    button {
                        padding: 14px 22px;
                        font-size: 15px;
                    }
                }
            }
        }
    }
}

@media (max-width: 576px) {
    #pocket {
        .pocket {
            flex-direction: column;
            align-items: start;
            padding: 40px 0 0 30px;
            height: 100%;
            h1 {
                font-size: 42px;
                line-height: 54px;
                width: 90%;
                padding: 0 0 25px 0;
            }
            &--group {
                padding: 30px 0 45px 0;
                p {
                    text-align: left;
                }
                div {
                    justify-content: start;
                    button {
                        padding: 14px 22px;
                        font-size: 15px;
                    }
                }
            }
        }
    }
}

@media (max-width: 450px) {
    #pocket {
        .pocket {
            flex-direction: column;
            align-items: start;
            padding: 30px 0 0 30px;
            height: 100%;
            h1 {
                font-size: 40px;
                line-height: 50px;
                width: 90%;
                padding: 0 0 25px 0;
            }
            &--group {
                padding: 30px 0 45px 0;
                p {
                    text-align: left;
                }
                div {
                    justify-content: start;
                    button {
                        padding: 14px 22px;
                        font-size: 15px;
                    }
                }
            }
        }
    }
}

@media (max-width: 400px) {
    #pocket {
        .pocket {
            flex-direction: column;
            align-items: start;
            padding: 25px 0 0 30px;
            height: 100%;
            h1 {
                font-size: 34px;
                line-height: 45px;
                width: 95%;
                padding: 0 0 20px 0;
            }
            img {
                width: 90%;
            }
            &--group {
                padding: 20px 0 35px 0;
                p {
                    text-align: left;
                    padding: 0 0 26px 0;
                }
                div {
                    justify-content: start;
                    button {
                        padding: 14px 22px;
                        font-size: 15px;
                    }
                }
            }
        }
    }
}

@media (max-width: 375px) {
    #pocket {
        .pocket {
            flex-direction: column;
            align-items: start;
            padding: 30px 0 0 25px;
            height: 100%;
            h1 {
                font-size: 34px;
                line-height: 45px;
                width: 95%;
                padding: 0 0 25px 0;
            }
            img {
                width: 90%;
            }
            &--group {
                padding: 30px 0 45px 0;
                p {
                    text-align: left;
                }
                div {
                    justify-content: start;
                    button {
                        padding: 14px 22px;
                        font-size: 15px;
                    }
                }
            }
        }
    }
}

@media (max-width: 320px) {
    #pocket {
        .pocket {
            flex-direction: column;
            align-items: start;
            padding: 30px 0 0 25px;
            height: 100%;
            h1 {
                font-size: 29px;
                line-height: 40px;
                width: 95%;
                padding: 0 0 25px 0;
            }
            img {
                width: 90%;
            }
            &--group {
                padding: 30px 0 30px 0;
                p {
                    text-align: left;
                }
                div {
                    justify-content: start;
                    button {
                        padding: 14px 22px;
                        font-size: 15px;
                    }
                }
            }
        }
    }
}